name: Run pytest on push
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Run TeamSpeak 3 Docker Container
        run: docker run -p 9987:9987/udp -p 10011:10011 -p 30033:30033 -e TS3SERVER_LICENSE=accept --name TS3_TEST_CONTAINER -d teamspeak:3.13 --wait

      - name: Show Docker Containers
        run: docker ps -a

      - name: Show Container Logs
        run: docker logs TS3_TEST_CONTAINER

      - name: Get ServerAdmin Password
        id: get_password
        run: |
          echo "PASSWORD=$(\
          docker logs TS3_TEST_CONTAINER 2>&1 \
          | less \
          | grep password \
          | cut -d ',' -f 2 \
          | cut -d '"' -f 2)" \
          >> $GITHUB_OUTPUT

      - name: Run pytest
        run: |
          QUERY_ADMIN_PASSWORD=${{ steps.get_password.outputs.PASSWORD }} \
          pytest -v
